body{
    background-color: grey;
}
h1{
    color: white;
    font-family: "Press Start 2P"
}
p{
   background-color: grey;
   color: white; 
   font-family: "consolas", sans-serif;
   font-style: italic;
   font-weight: bold;
   text-decoration: cyan dotted underline;
   font-size: 18px;
}



.odd{
    color: blue;
}

.even{
    color: aqua;
}

